<h3>Post a Comment</h3>

<%= form_for [ @job, @comment ] do |f| %>
  <p>
    <%= f.label :authorname %><br/>
    <%= f.text_field :authorname %>
  </p>
  <p>
    <%= f.label :body %><br/>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
