<% unless @company.nil? %>
  <h1>All Jobs for <strong><%= @company.name %></strong></h1>
<% else %>
  <h1>All Jobs</h1>
<% end %>
<div class="job_cities">
  <% @cities.each do |city| %>
    <%= link_to city, "/jobs?location=#{city}" %>
  <% end %>
</div>
<section class="list">
  <% @jobs.each do |job| %>
    <%= link_to(job_path(job), html_options = {class: "index_job"}) do %>
      <div>
        <div class="job_name"><%= job.title %> </div>
        <div class="company_name"><%= job.company.name %></div>
        <div class="job_city"><%= job.city %></div>
      </div>
    <% end %>
  <% end %>
</section>
