<% unless @company.nil? %>
  All Jobs for <strong><%= @company.name %></strong>
<% else %>
  Viewing All Jobs
<% end %>
<section class="list">
  <% @jobs.each do |job| %>
    <%= link_to(job_path(job), html_options = {class: "index_job"}) do %>
      <div>
        <div class="job_name"><%= job.title %> </div>
        <div class="company_name"><%= job.company.name %></div>
        <div class="job_city"><%= job.city %></div>
      </div>
    <% end %>
  <% end %>
</section>
