<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Job Tracker</h1>
  <nav>
    <div class="navlinks">
      <div id="companies" class="dropdown">
        <p>Companies</p>
          <div class="dropdown-content">
             <%= link_to "Companies Index", companies_path %>
             <%= link_to "Find a company" %>
          </div>
      </div>
      <div id="categories" class="dropdown">
        <p>Categories</p>
          <div class="dropdown-content">
             <%= link_to "Categories Index", categories_path %>
             <%= link_to "Find a Category", categories_path %>
          </div>
      </div>
      <div id="jobs" class="dropdown">
        <p>Jobs</p>
          <div class="dropdown-content">
             <%= link_to "Jobs Index", jobs_path %>
             <%= link_to "Find a Job", jobs_path %>
          </div>
      </div>
    </div>
    <div id="navdashboard">
       <%= link_to "Dashboard", dashboard_path %>
    </div>
  </nav>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
<%= yield %>

</body>
</html>
